# ==== Common ====
ENV=local
AWS_REGION=us-east-1
S3_BUCKET=ai-resume-cv-bucket
S3_CV_PREFIX=rawcvs/
S3_RESUME_PREFIX=processedresumes/
# For LocalStack inside docker network
AWS_ENDPOINT_URL=http://localhost:4566

##LLM PROVIDERS
# Gemini 
#LLM_PROVIDER=gemini
#GEMINI_API_KEY=your_gemini_key
#GEMINI_MODEL=gemini-1.5-flash

# Hugging Face Inference API
LLM_PROVIDER=hf_endpoint
HF_API_TOKEN=test
HF_MODEL=Qwen/Qwen2.5-14B-Instruct-1M
HF_TASK=text-generation


# ==== Frontend ====
BACKEND_URL=http://backend:8000
